.suggest-by-preference
  %p You like these things:
  = current_user.preference_list

  %p You are highly matches with these hot dogs: 
  - high_matches = User.tagged_with(current_user.preference_list, :any => true)
  - high_matches.each do |dog|
    =link_to(dog.dog_name, user_path(dog))


  %p These hot dogs might be your dark horse: 
  - low_matches = User.tagged_with(current_user.preference_list, :any => true)
  - low_matches.each do |dog|
    =link_to(dog.dog_name, user_path(dog))

-# .search-by
-#   %button Male
-#   %button Female

-# - User.tagged_with(["#{}"], :match_all => true)
-# - User.tagged_with(["#{}"], :any => true)
-# - User.tagged_with(["#{}"], :exclude => true)

-# -User.where(gender:"male").each do |male|
-#   =male.dog_name
-# -User.where(gender:"female").each do |female|
-# -User.where(breed:"#{}").each do |female|
-# -User.where(neutered:true).each do |neutered|
-# -User.where(neutered:false).each do |unneutered|
-# -User.where(neutered:false).each do |unneutered|
-# -User.where(dog_age>5).each do |young|
-# -User.where(5<dog_age<10).each do |middle|
-# -User.where(dog_age>10).each do |old|
