%h2 Questionnaire
= simple_form_for @user do |f| 
  .form-inputs
    %p What gender dogs do you want to date?
    = f.input :gender, as: :radio_buttons, required:true, :options => [['Male'] ,['Female'], ['Both']]
    
    %p Do you want to date neutered/ spayed dogs?
    = f.input :neutered, " options: yes, no"
    
    = f.input :when, "When are you usually free for a doggie date? options: weekday evenings, weekday daytime, weekends"
    = f.input :where, "Are you interested in outdoor or indoor activities? options: outdoor, indoor, both"

  .form-actions
    = f.button :submit, "Date Me"
