%p Preferences:
= current_user.preference_list
.profile-page
  -if @user.owner_picture === nil 
    %p= image_tag @user.gravatar_url
  -else 
    %p= @user.owner_picture 
  %p= @user.email
  %p#address= @user.address 
  %p= @user.owner_name 
  
  %p= @user.dog_name 
  %p= @user.dog_picture 
  %p= @user.dog_age
  %p= @user.dog_bio 
  %p= @user.gender 
  %p= @user.breed 
  %p= @user.neutered 

-# Google Maps #
#map-canvas

-# Add Buddy Button #
%button{:data => {:dog2_id => @user.id}}
  %span Add Buddy
  %span.hide Buddy Requested
