-if current_user.id != @user.id
  -user_match_id1 = UserMatch.where(dog_requester_id:current_user.id, dog_requestee_id:@user.id)[0]
  -user_match_id2 = UserMatch.where(dog_requestee_id:current_user.id, dog_requester_id:@user.id)[0]
  - if user_match_id2 === nil
    =link_to('Chat', user_match_path(user_match_id1.id)) 
  - else
    =link_to('Chat', user_match_path(user_match_id2.id))


%p Preferences:
= current_user.preference_list
%p#dog-picture= @user.dog_picture
-if @user.owner_picture === nil
  %p= image_tag @user.gravatar_url
-else
  %p= @user.owner_picture

%p Email Address:
= @user.email
%p Residential Address:
%address#address
  = @user.address
%p#owner-name Name of Owner:
= @user.owner_name
%p#dog-name Name of Dog:
= @user.dog_name
%p#dog-age Age of Dog:
= @user.dog_age
%p Dog's Bio:
= @user.dog_bio
%p= @user.gender
%p Breed of Dog:
= @user.breed
%p Neutered Status:
= @user.neutered


.profile-page
  = image_tag @user.dog_picture.detail.url
  -if @user.owner_picture === nil 
    %p= @user.gravatar_url
  -else 
  = image_tag @user.owner_picture.detail.url
  %p Email Address:
  = @user.email
  %p Residential Address:
  %address#address
    = @user.address 
  %p#owner-name Name of Owner:
  = @user.owner_name 
  %p#dog-name Name of Dog:
  = @user.dog_name 
  %p#dog-age Age of Dog:
  = @user.dog_age
  %p Dog's Bio:
  = @user.dog_bio 
  %p= @user.gender 
  %p Breed of Dog:
  = @user.breed 
  %p Neutered Status:
  = @user.neutered 

  -# %p user_rating:
  -# .exemple
  -#   .basic{data: {average: 12, id: 1}}
  -#   .basic{data: {average: 8, id: 2}}
  -# = rating_for @user, "rating_for" , :star => 10

-# Google Maps #
#map-canvas

-# Add Buddy Button #
- if @user.id != current_user.id
  %button#add-buddy-button{:data => {:dog_requester_id => current_user.id, :dog_requester => current_user, :dog_requestee_id => @user.id, :dog_requestee => @user}}
    %span.buddy-status Add Buddy
    %span.buddy-status.hide Buddy Requested

- if @user.id === current_user.id
  .buddies
    %p Your buddies are:
    - current_user.user_matches.each do |buddy|
      - buds = User.where(id:buddy.dog_requestee_id)

      
      -# AVATAR STUFF
      -# u = User.new
      -# u.avatar = params[:file] # Assign a file like this, or

      -# # like this
      -# File.open('somewhere') do |f|
      -#   u.avatar = f
      -# end

      -# u.save!
      -# u.avatar.url # => '/url/to/file.png'
      -# u.avatar.current_path # => 'path/to/file.png'
      -# u.avatar.identifier # => 'file.png'

%p Your buddy requests:
- current_user.reverse_user_matches.each do |match|
  -if match.dog_requestee_id == current_user.id
    %p= User.find(match.dog_requester_id).dog_name
  -if match.status == "pending"
    %button#accept-request{:data => {:id => match.id}} Accept
    %button#reject-request Reject
  -else
    %button#delete-buddy Delete Buddy

%p The buddies you have requested:
- current_user.user_matches.each do |match|
  - if match.dog_requester_id == current_user.id
    %p= User.find(match.dog_requestee_id).dog_name
  -if match.status == "pending"
    %button#pending Pending
  -else
    %button#accepted Accepted
