%h2= @event.name

%p= "This event takes place in #{@event.place}. This event is rated a #{@event.event_rating} star event."

- if @event.organizer_id === current_user.id
  %p= link_to('Edit', edit_event_path(@event))
  %p= link_to('Delete', event_path(@event), method: :delete)