!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HotdogsApp
    -if user_signed_in?
      %p you are logged in as
      = current_user.email

    = stylesheet_link_tag    'application', media: 'all'


    -# %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyA00iEetE8yy2uZY4ejEskfM6zypsXnhps&libraries=places"}

    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"}
    = javascript_include_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tags

  %body

    %h1 Hotdogs

    = render :partial => 'layouts/register'

    %p.notice= notice
    %p.alert= alert

    - if user_signed_in?
      .nav
        = render 'layouts/nav'

  = yield
